* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    width: 100%;
    height: 50vh;
}
.box1 {
    position: relative;
}
.box2 {
    width: 80%;
    margin: 50px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle {
    width: 94%;
    height: 92vh;
    background-color: black;
    outline: 1px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks {
    width: 47%;
    height: 85vh;
    background-color: white;
}
.checkboxTask {
    padding-top: 10px;
    display: flex;
}
.task {
    border-radius: 10px 0 0 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
}
.new {
    margin-left: 5px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.textTask {
    margin: 10px 0;
    width: 215px;
    border-left: none;
    border-top: none;
    border-right: none;
}
.textTask:focus {
    outline: none;
}
.buttonAdd {
    display: block;
    margin: auto;
    height: 35px;
    width: 70px;
    background-color: black;
    color: white;
    border-radius: 4px;
}
.letter {
    color: rgb(245, 62, 62);
}

.box3 {
    background-color: black;
}


.warning1 {
    display: none;
    width: 55vw;
    height: 60px;
    padding: 10px 19px;
    background-color: lightsalmon;
    color: rgb(126, 46, 15);
    position: absolute;
    right: 139px;
    top: 56px;
}
.textWarn {
    margin-top: 3px;
}
.uil-times {
    position: absolute;
    right: 8px;
    top: 8px;
}
.warning2 {
    @extend.warning1;
}
.textWarn2 {
    @extend.textWarn;
}